* {
    box-sizing: border-box;
    
}

.box {
    float:left;
    width: 24.5%;
    padding: 5px;
    background-color: #ffffff;
    font-size: 16px;
    position: inline-block;
    
}
.clearfix::after {
    content: "";
    clear: both;
    display: table; 

}
.Caption    {
    position: relative;
    top: -280px;
    left: 16px;
    color:red;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1310px;
    max-height:fit-content;
    background-color: #000000; 
    margin: 0 auto;
    
}
header {
    padding-bottom: 125px;
}

header h1 {
    font-size: 40px;
    color: #007d7b;
    float: left;
    padding-left: 10px;
    
}

 a {
    font-size: 20px;
    color: #ffffff;
    padding: 5px;
  
}
nav li {
    float: right;
    text-transform: uppercase;
    margin: 25px;
    padding: 25px;
    border-radius: 10px;
    
}
a:link {
    text-decoration: none;
}
a:focus {
    outline: solid 3px #007d7b;
}
a:hover { 
    background-color: #007d7b;
}
#top a:hover {
    background-color: #ffffff;
    color: #007d7b;

}

[href="#top"] {
    border: #007d7b;
    background-color:#007d7b;
    color: #ffffff;
    position: fixed;
    bottom: 0px;
    right: 0px;
    border-radius:10px 0px 0px;
    margin-left: 20 px;

}

article {
   
    padding-top: 5px;
    background-color: #ffffff;
    padding: 30px 20px;
    
   
    
}
article h2 {
    font-size: 40px;
    width: 1310px;
     color: #000000; 
    /* float:left; */
    padding-left: 20 px;
    /* display:inline-block; */
    float:inline-end;

}
article p {
    font-size: 20px;
    float: right;
   
}


 main {
    margin: 0 auto;
    padding: 0px;  
    background-color: #ffffff;    
    width: 1310 px;
    height: 1600 px;
 
} 
form {
    max-width: 600px;
    margin: 2rem auto;

}
.row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 1rem;
}
.row:first-of-type {
    padding-top: 3rem;
    
}

footer {
   
    color: #ffffff;
    position: static;
    left: 0;
    bottom: 0;
    clear: both;
    text-align: center;
    padding-bottom: 20px;
  

}
footer h2 {
    font-size: 40px;
    
}
footer p {
    font-size: 20px;
}
footer label {
    font-size: 20px;
    
}
footer button {
    padding-top: 5px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 5px;
    font-size: 16px;
    border-radius: 20px;
    border-radius: 10px;
    background-color: #007d7b;
    color: #ffffff;


}
