body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1310px;
    max-height: 2700 px;
    background-color: #000000; 
    margin: 0 auto;
}
header h1 {
    font-size: 40px;
    color: #007d7b;
    float: left;
    padding-left: 10px;
    
}

 a {
    font-size: 20px;
    color: #ffffff;
    padding: 5px;
  
}
nav li {
    float: right;
    text-transform: uppercase;
    margin: 25px;
    padding: 30px;
    
}
a:link {
    text-decoration: none;
}
a:hover { 
    background-color: #007d7b;
}
article {
    float: left;
    padding-top: 400 px;
    background-color: #ffffff;
    padding: 30px 20px;
    
}
article h2 {
    font-size: 40px;
    
    color: #000000; 
    float: right;
    padding-left: 20 px;

}
article p {
    font-size: 20px;
    float: right;
    
    
}

 main {
    margin: 0 auto;
    padding: 0px;  
    background-color: #ffffff;    
    width: 1310 px;
    height: 1600 px;
    

} 
.Item {
    float: left;
    /* width: 420 px; */
    /* height: 281 px;  */
    width: 33%;
    margin-left: 0px;
    margin-right: 0px;

    
}
.Item_tall {
    float: left;
    /* width: 420 px; */
    /* height: 630 px; */
    width: 33%;
    margin-left: 0px;
    margin-right: 0px;
    
    
}

footer {
    float: right;
    color: #ffffff;
    position: static;
    left: 0;
    bottom: 0;
    align-content: center;
    
}
